:host {
  display: flex;
  flex: 1;
  min-width: 0;
}

.part-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.part-header {
  color: #888899;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.part-header h4 {
  margin: 0;
}

.duration-indicator {
  font-size: 0.85em;
  color: #bbbbcc;
}

textarea {
  background-color: #10101a;
  color: #cccccc;
  border: 1px solid #555566;
  padding: 10px;
  font-size: small;
  font-family: "Source Code Pro", monospace;
  resize: vertical;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
  border-color: #ffff66;
}

.spinner {
  width: 12px;
  height: 12px;
  border: 2px solid #bbbbcc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
