<div class="day-container">
  <div class="day-header">
    <div class="header-title">
      <h3>{{ title() }}</h3>
      <div class="header-links">
        <a [href]="aocUrl" target="_blank" class="aoc-link" (click)="$event.stopPropagation()">
          [Link]
        </a>
        <a [href]="sourceUrl" target="_blank" class="aoc-link" (click)="$event.stopPropagation()">
          [Code]
        </a>
      </div>
    </div>
    <div class="header-controls" (click)="toggle()">
      <span class="toggle-text">{{ expanded() ? 'Close' : 'Solve' }}</span>
      <span class="toggle-icon">{{ expanded() ? '▼' : '▶' }}</span>
    </div>
  </div>

  <div class="day-content">
    <div class="day-summary" (click)="toggle()">
      <p>
        @if (this.isComplete) {
          <span class="stars">⭐⭐</span>
        } @else {
          <span class="stars">⭐</span>
        }
        <span [innerHTML]="description() | latex"></span>
      </p>
    </div>

    <div [hidden]="!expanded()">
      <div class="iframe-container">
        <div class="iframe-wrapper">
          <div class="iframe-header-text">
            <span class="iframe-note-source">
              My source code is availible on
              <a [href]="sourceUrl" target="_blank" class="aoc-link">GitHub</a>.
            </span>
            You can read the full puzzle description
            <a [href]="aocUrl" target="_blank" class="aoc-link">here</a>
          </div>
          <iframe [src]="aocUrl" loading="lazy"></iframe>
        </div>
      </div>

      <div class="io-section input-section">
        <label>Puzzle Input</label>
        <textarea
          [ngModel]="inputData()"
          (ngModelChange)="onInputChange($event)"
          placeholder="Paste your puzzle input here. You can get it from the Advent of Code website after logging in."
          rows="6"
        >
        </textarea>
      </div>

      <div class="parts-container">
        @if (config.part1) {
          <app-part
            [dayNumber]="dayNumber()"
            [part]="'part1'"
            [puzzleInput]="inputData()"
          ></app-part>
        }
        @if (config.part2) {
          <app-part
            [dayNumber]="dayNumber()"
            [part]="'part2'"
            [puzzleInput]="inputData()"
          ></app-part>
        }
      </div>
    </div>
  </div>
</div>
