/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../public/Source-Code-Pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Roboto, 'Source Code Pro', Arial, Helvetica, sans-serif, monospace;
  background-color: #0f0f23;
  color: #cccccc;
}

a {
  color: #00cc00;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.day-summary .katex {
  color: #dddd66;
  object-fit: contain;
  max-width: 100%;
}

.day-summary .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.day-summary div#day11_example {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.day-summary .label {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  max-height: 100%;
}

.day-summary .label span {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  max-height: 100%;
}

.day-summary img#day11_a,
.day-summary img#day11_b {
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
}

.expanded .day-summary img#day11_a,
.expanded .day-summary img#day11_b {
  max-height: 550px;
}
