/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../public/Source-Code-Pro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}


body {
  margin: 0;
  font-family: Roboto, "Source Code Pro",Arial, Helvetica, sans-serif, monospace;
  background-color: #0f0f23;
  color: #cccccc;
}

a {
  color: #00cc00;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}